
			<article>
					<nav>
							<ul>
								<li><a href="javascript:void(0)">About me.</a></li>
								<li><a href="javascript:void(0)">Works</a></li>
								<li class="clear"><a href="javascript:void(0)">Skills</a></li>
							</ul>
						</nav>
				コンテンツ
			</article>
			<aside>
				<h3>プロフィール</h3>
				<ul>
					<li>HN: 棘草(イラクサ)</li>
					<li>生年月日: 1983年9月1日</li>
					<li>血液型: A型</li>
					<li>MBTI: ENFP</li>
					<li>Eniagram: 7w6</li>
					<li>IT歴: 10年弱</li>
					<li>得意分野: Web系(特にPHP)</li>
					<li>趣味: 弾き語り、キャンプ、映画鑑賞、アニメ、MBTI、エニアグラム, etc...</li>
					<li>特技: 空想</li>
					<li>Mail: <a href="mailto:irakusa@tsh-labo.xyz">irakusa@tsh-labo.xyz</a></li>
				</ul>
			</aside>
