<template>
	<header>
		<h1 id="catch">北海道は札幌市にて、フリーランスでフルスタックなWebエンジニアをしている棘草@TSH-LABOの紹介ページです。<br />尚、お仕事のご依頼はメールにてお願い致します。</h1>
		<h2 id="title">TSH-LABO.<image src="../assets/images/irakusa_top.jpg" alt="test"/></h2>

	</header>
</template>

<style scoped>
header {
	border-bottom: 1px solid #333333;
	background-size: cover;
	background-image: url("../assets/images/irakusa_top.jpg"), linear-gradient(#dddddd, #57c9c9);
	background-blend-mode: luminosity;
	background-repeat: no-repeat;
	height: 400px;
	color: #ffffff;
}
</style>
