<template>
					<nav>
							<ul>
								<li><a href="javascript:void(0)">About me.</a></li>
								<li><a href="javascript:void(0)">Works</a></li>
								<li class="clear"><a href="javascript:void(0)">Skills</a></li>
							</ul>
						</nav>
</template>
